

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  </style>

  <app-orbit-list [satellites]="displayList"></app-orbit-list>
<div class="search-form">
  <input (keyup.enter)="search(searchTerm.value)"/>
  <button (click)="search(searchTerm.value);">search</button>
</div> 


